@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
/*/// Primary ///*/
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

/*/// Neutral ///*/
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
html{
       font-size: 62.5%;
}
body{
       font-size: 1.5rem;
       font-family: 'Poppins', sans-serif;
       background-color: var(--Very-Light-Gray);
}
main{
       max-width: 1060px;
       width: calc(100% - 70px);
       margin: 0 auto;
       padding: 7rem 0;

}
header{
       text-align: center;
}
header h2{
       font-size: 2.4rem;
       font-weight: 300;
       color: var(--Very-Dark-Blue);
       margin-bottom: 2rem;
}
header h2 span{
       display: block;
       font-weight: 600;
}
header p{
       max-width: 50rem;
       font-size: 1.5rem;
       font-weight: 400;
       color: var(--Grayish-Blue);       
       margin: 0 auto 7rem;
}
section article{      
       position: relative; 
       min-width: 31.5rem;
       height: 23rem;      
       margin: 0 auto;
       margin-bottom: 3rem;       
       padding: 2.5rem 3rem 0;  
       border-radius: 0.5rem; 
       box-shadow: 0 10px 10px rgba(0, 0, 0, 0.178);
       background-color: #fff;        
}
section article.box01{
       border-top: 4px solid var(--Cyan);
}
section article.box02{
       border-top: 4px solid var(--Red);
}
section article.box03{
       border-top: 4px solid var(--Orange);
}
section article.box04{
       border-top: 4px solid var(--Blue);
}
section article h3{
       font-size: 2rem;
       color: var(--Very-Dark-Blue);
       margin-bottom: 0.5rem;
}
section article p{
       color: var(--Grayish-Blue);
       font-size: 1.4rem;
       line-height: 2.4rem;
}
section article img{
       position: absolute;
       right: 3rem;
       bottom: 3rem;
       width: 6rem;
}
@media screen and (min-width: 1075px){
       section{
              display: flex;
              align-items: center;
       }
       section article{
           max-width:31.5rem ;  
       }
}